// COLORS
$primary-color: #4b4b4b; 
$secondary-color: #3d3d3d;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #3d3d3d;

$dark-text: #1e272e; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;


$background-color: #fff;


